.max{
  font-weight: 400;
  color: #272727;
  letter-spacing: 5px;

}

/* .max-wrapper{
  background: linear-gradient(216deg, #a4a4a4, #2a2a2a);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
} */




/* ICONS */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* END ICONS */

.modal .modal.modal-fixed-footer {
  bottom: 0 !important;
  top: 0 !important;
  max-height: 100% !important;
  width: 100% !important;
}

.gridBtn {
  border: solid 1px #d1d1d1 !important;
  margin: 1px !important;
}

.btn{
  height: 50px !important;
  line-height: 50px !important;
  font-size: 20px !important;
}
.btn-block{
  width: 100% !important;
}
[type="radio"]+span:before, [type="radio"]+span:after {
  visibility: hidden;
}
.break{
  height: 120px;
  display: block;
}
.lrg{
  height: 4rem !important
}
.box{


  margin: 5px 10px !important;
}
.box-content{
  height: 150px;
  line-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1px, 5vw, 34px) !important;
  background-color: #cecece;
}
.box-content:hover  {
  opacity: .7;
  border: solid 3px rgb(181, 181, 181);
}
/* .box-content:active  {
  background-color: #282c34 !important;
} */
.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: rgba(0,0,0,0);
}
.acti{
  border: none !important;
}
/* @media only screen and (max-width: 992px) {
  .acti{
    margin-top: 2.4rem;
    margin-left: .5rem;
}
} */
.material-icons {
  font-size: 35px;
}
.box-content-color {
  background: linear-gradient(203deg, #d0d7e0, #fcfeff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

label{
  color: rgb(48, 48, 48) !important;
  text-transform: uppercase;
  font-weight: 800 !important;
}
input[type=range]::-webkit-slider-thumb {
  background-color:#208abb;
}
input[type=range]::-moz-range-thumb {
  background-color:#208abb;
}
input[type=range]::-ms-thumb {
  background-color: #208abb;
}

/***** These are to edit the thumb and the text inside the thumb *****/
input[type=range] + .thumb {
  background-color: #dedede;
}
input[type=range] + .thumb.active .value {
  color: red;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.prim {
  background: linear-gradient(203deg, #d0d7e0, #208abb);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 0s ease infinite;
  -moz-animation: AnimationName 0s ease infinite;
  animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
nav{
  background-color: rgba(0,0,0,0);
  box-shadow: none !important;
}
.green {
  background-color: #4CAF50 !important;
}
.btn-flat{
  color: #d0d7e0
}
nav ul a {
  color: #797979
}
p{
  color: #3c3c3c
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid rgb(161, 160, 160);
  height: 40px;
  width: 60px;
  border-radius: 10% !important;
  background: #e3e2e4 !important;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-appearance: none;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin: -18px 0 0 0;
}
video, iframe {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}